---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>oddship.net</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/manifesto">manifesto</a>
      <a href="/about">about</a>
    </nav>
    
    <canvas id="gameOfLifeCanvas" width="800" height="200"></canvas>
    <div class="controls">
      <button id="playPauseButton">Play</button>
      <button id="resetButton">Reset</button>
    </div>
    <script src="/js/game.js" is:inline></script>
  </body>
</html>
